<div class="edHistory">
	<%if(edits!=null){%>
	<header class="edhistory-top-bar">
		<div class="edhistory-title"><span>Editing history</span></div>
		<div class="closehistory">
			<button class="ui button closehistory">
				<i class="remove icon"></i>
			</button>
		</div>
	</header>
	
	<%} %>
</div>