<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./css/instructor.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.js"></script>
  <script src="http://jsblocks.com/jsblocks/blocks.js"></script>

  <style>

  </style>
</head>
<body>
<div class="ui inverted menu">
    <div class="item welcome">
      Welcome to Critical Thinker<string> <%= user ? ', '+user.username : ' ' %> </string>!
    </div>
    <!-- <div class="item">
      <a href='/changetemplate' class='ui blue label'>Change Template</a>
    </div> -->
    <div class="item right">
      <a href='/logout' class='ui red label'>Logout</a>
    </div>
    <div class="item right">
      <button class="ui button helptour"><i class="help icon"></i></button>
    </div>
    <div class="item right">
      <button class="ui olive button usersetting"><i class="user icon"></i><a href='/home'>Switch View</a></button>
    </div>
  </div>
  
	<div class='ui segment'>
	<h1 class='ui header'>Adding/Removing Topics</h1>
	<div id="products" data-query="view(Products)">
	<input data-query="val(newProduct.name).keydown(keydown)" placeholder="Add a new topic here">
	<div data-query="each(products)">
	  <div class="result-wrap">
	    <span data-query="visible(!editing())" class="value-holder">
	      {{name}}
	    </span>
	    <span data-query="visible(editing)" class="value-holder">
	      <input data-query="val(name)">
	    </span>
	    <span class="buttons-holder">
	        <span data-query="click(toggleEdit)">
	          {{editing() ? 'Update' : 'Edit'}}
	        </span>
	        <span data-query="click(remove)" class="btn-delete">Delete</span>
	    </span>
	  </div>
	</div>
	</div>
  </div>
  <script src="./js/instructor.js"></script>
</body>
</html>