<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="./css/instructor.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.js"></script>

</head>
<body>
	<div class="ui inverted menu">
		<div class="item welcome">
			Welcome to Critical Thinker<string> <%= user ? ', '+user.username : ' ' %> </string>!
		</div>
    <!-- <div class="item">
      <a href='/changetemplate' class='ui blue label'>Change Template</a>
  </div> -->
  <div class="item right">
  	<a href='/logout' class='ui red label'>Logout</a>
  </div>

  <div class="item right">
  	<button class="ui olive button usersetting"><i class="home icon"></i><a href='/home'>Home</a></button>
  </div>
</div>

<div class='ui segment'>
	<h1 class='ui header'>Adding/Removing Topics</h1>
	<div id="topics" class="topic-list">
		<% for(var i=0; i<topics.length; i++) {%>
		<div class = "topic item result-wrap">
			<span class="editing value-holder invisible" >
				<div class="ui input focus">
					<input type="text" placeholder="Enter topic..." value="<%= topics[i] %>">
				</div>
			</span>
			<span class="display value-holder">
				<%= topics[i] %>
			</span>
			<span class="buttons-holder">
				<span class="updateoredit">
					Edit
				</span>
				<span class="btn-delete">Delete</span>
			</span>			
		</div>
		<% } %>		
	</div>
	<div class="ui right labeled left icon input">
		<i class="tags icon"></i>
		<input type="text" placeholder="Enter topic">
		<a class="ui tag label addtopicbtn">
			Add
		</a>
	</div>
</div>
<script src="./js/instructor.js"></script>
</body>
</html>