.row.proconpair {
	background-color: rgba(221, 241, 247, 1);
	border-radius: 25px!important;
	margin:3px;
}

.background.synthesis {
	background-color: rgba(255, 253, 181, 0.45);
	border-radius: 25px!important;
	margin:3px;
}